﻿@using Nop.Plugin.Widgets.MySlider.Models
@model SliderModel
@if (Model.Items.Count > 0)
{
    <div class="anywhere-slider-container">
        @if (!string.IsNullOrEmpty(Model.BackGroundPictureUrl))
        {
            <div class="row mb-2 mb-sm-5" style="background:url('@Model.BackGroundPictureUrl')no-repeat center; background-size: cover;">
                <div class="col-xl-7 col-lg-9 col-md-10 col-11 m-auto owl-carousel anywhere-slider-2 slider-@(Model.Id)" id="nopstation-slider-@Model.Id">
                    @foreach (var sliderItemModel in Model.Items)
                    {
                        <div class="anywhere-slider-item container-fluid ">
                            <div class="row justify-content-center">
                                <div class="col-11 col-sm-12 single-slide-content">
                                    <div class="row justify-content-center flex-column flex-sm-row">
                                        <div class="col-12 col-sm-6 p-0 picture">
                                            <a href="@sliderItemModel.Link" title="@sliderItemModel.Title">
                                                <img alt="@sliderItemModel.ImageAltText" src="@sliderItemModel.PictureUrl" title="" />
                                            </a>
                                        </div>
                                        <div class="col-12 col-sm-6 p-3 slider-caption">
                                            <h2 class="slider-title">@sliderItemModel.Title</h2>
                                            <h3 class="slider-subtitle">@sliderItemModel.ShortDescription</h3>
                                            <a href="@sliderItemModel.ShopNowLink" class="slider-btn">@T("MySlider.ShopNow")</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
        else
        {
            <div class="owl-carousel anywhere-slider-1 slider-@(Model.Id)" id="nopstation-slider-@Model.Id">
                @foreach (var sliderItemModel in Model.Items)
                {
                    <div class="anywhere-slider-item home-page-slider-item">
                        <div class="single-slide-content">
                            <div class="picture">
                                <a href="@sliderItemModel.Link" title="@sliderItemModel.Title">
                                    <img alt="@sliderItemModel.ImageAltText" src="@sliderItemModel.PictureUrl" title="" />
                                </a>
                            </div>
                            <div class="slider-caption">
                                <div class="slider-caption-inner">
                                    <h3 class="slider-subtitle">@sliderItemModel.ShortDescription</h3>
                                    <h2 class="slider-title">@sliderItemModel.Title</h2>
                                    <a href="@sliderItemModel.ShopNowLink" class="slider-btn">@T("MySlider.ShopNow")</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

        }
    </div>

    <script asp-location="Footer">
        $(document).ready(function () {
            $('#nopstation-slider-@Model.Id').owlCarousel({
                nav: @Model.Nav.ToString().ToLower(),
                loop: @Model.Loop.ToString().ToLower(),
                dots: true,
                margin: @Model.Margin,
                autoplay: @Model.AutoPlay.ToString().ToLower(),
                rtl: @Model.RTL.ToString().ToLower(),
                autoplayTimeout: @Model.AutoPlayTimeout,
                autoplayHoverPause: @Model.AutoPlayHoverPause.ToString().ToLower(),
                lazyLoad: @Model.LazyLoad.ToString().ToLower(),
                lazyLoadEager: @Model.LazyLoadEager,
                startPosition: @Model.StartPosition,
                animateOut: '@Model.AnimateOut',
                animateIn: '@Model.AnimateIn',
                responsive: {
                    0: {
                        items: 1
                    }
                }
            });
        });
    </script>
}