﻿@model Nop.Plugin.Widgets.MySlider.Areas.Admin.Models.MySliderModel
@inject AdminAreaSettings adminAreaSettings

@{
    var defaultGridPageSize = adminAreaSettings.DefaultGridPageSize;
    var gridPageSizes = adminAreaSettings.GridPageSizes;
}

<div class="card-body">
    @if (Model.Id > 0)
    {
        <div class="sub-card">
            @await Html.PartialAsync("Table", new DataTablesModel
       {
           Name = "anywhereslider-items-grid",
           UrlRead = new DataUrl("SliderItemList", "MySlider", new RouteValueDictionary { ["sliderId"] = Model.Id }),
           UrlDelete = new DataUrl("SliderItemDelete", "MySlider", null),
           Length = defaultGridPageSize,
           LengthMenu = gridPageSizes,
           ColumnCollection = new List<ColumnProperty>
                {
                    new ColumnProperty(nameof(MySliderItemModel.PictureUrl))
                    {
                        Title = T("Nop.MySlider.SliderItems.Fields.Picture").Text,
                        Width = "150",
                        Render = new RenderCustom("renderPictureUrl")
                    },
                    new ColumnProperty(nameof(MySliderItemModel.MobilePictureUrl))
                    {
                        Title = T("Nop.MySlider.SliderItems.Fields.MobilePicture").Text,
                        Width = "150",
                        Render = new RenderCustom("renderMobilePictureUrl")
                    },
                    new ColumnProperty(nameof(MySliderItemModel.SliderItemTitle))
                    {
                        Title = T("Nop.MySlider.SliderItems.Fields.Title").Text,
                        Width = "100"
                    },
                    new ColumnProperty(nameof(MySliderItemModel.DisplayOrder))
                    {
                        Title = T("Nop.MySlider.SliderItems.Fields.DisplayOrder").Text,
                        Width = "100",
                        ClassName = NopColumnClassDefaults.CenterAll
                    },
                    new ColumnProperty(nameof(MySliderItemModel.Id))
                    {
                        Title = T("Admin.Common.Delete").Text,
                        Width = "100",
                        Render = new RenderButtonRemove(T("Admin.Common.Delete").Text),
                        ClassName = NopColumnClassDefaults.Button
                    },
                    new ColumnProperty(nameof(MySliderItemModel.Id))
                    {
                        Title = T("Admin.Common.Edit").Text,
                        Width = "100",
                        ClassName =  NopColumnClassDefaults.Button,
                        Render = new RenderCustom("renderColumnEdit")
                    }
                }
            })

            <script>
                function renderPictureUrl(data, type, row, meta) {
                    return '<a href="' + row.FullPictureUrl + '" target="_blank"><img alt="' + row.PictureId + '" src="' + row.PictureUrl + '" /></a>';
                }
                function renderMobilePictureUrl(data, type, row, meta) {
                    return '<a href="' + row.MobileFullPictureUrl + '" target="_blank"><img alt="' + row.MobilePictureId + '" src="' + row.MobilePictureUrl + '" /></a>';
                }
                function renderColumnEdit(data, type, row, meta) {
                    return '<button onclick=\"javascript:OpenWindow(\'@Url.Content("~/Admin/MySlider/SliderItemEditPopup/")' + data + '?btnId=btnRefresh&formId=anywhere-slider-form\', 800, 550, true); return false;\" class="btn btn-default"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</button>';
                }
            </script>

        </div>

        <div class="card-footer">
            <button type="submit" id="btnAddNewItem" onclick="javascript:OpenWindow('@(Url.Action("SliderItemCreatePopup", "MySlider", new { sliderId = Model.Id, btnId = "btnRefresh", formId = "anywhere-slider-form" }))', 800, 550, true); return false;" class="btn btn-primary">
                @T("Nop.MySlider.SliderItems.AddNew")
            </button>
            <input type="submit" id="btnRefresh" style="display:none" />
            <script>
                $(document).ready(function () {
                    $('#btnRefresh').click(function () {
                        //refresh grid
                        updateTable('#anywhereslider-items-grid');

                        //return false to don't reload a page
                        return false;
                    });
                });
            </script>
        </div>
    }
    else
    {
        <div class="card card-default">
            <div class="card-body">
                @T("Nop.MySlider.SliderItems.SaveBeforeEdit")
            </div>
        </div>
    }
</div>