﻿@model Nop.Plugin.Widgets.MySlider.Areas.Admin.Models.MySliderModel

@{
    const string hideInfoBlockAttributeName = "SliderPage.HideInfoBlock";
    var hideInfoBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideInfoBlockAttributeName);

    const string hidePropertiesBlockAttributeName = "SliderPage.HidePropertiesBlock";
    var hidePropertiesBlock =await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hidePropertiesBlockAttributeName);

    const string hideItemsBlockAttributeName = "SliderPage.HideItemsBlock";
    var hideItemsBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideItemsBlockAttributeName, defaultValue: true);
}

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<div class="content">
    <div class="form-horizontal">
        <nop-cards id="slider-panels">
            <nop-card asp-name="slider-info" asp-icon="fa fa-info" asp-title="@T("Nop.MySlider.Tab.Info")" asp-hide-block-attribute-name="@hideInfoBlockAttributeName" asp-hide="@hideInfoBlock" asp-advanced="false">@await Html.PartialAsync("_CreateOrUpdate.Info", Model)</nop-card>
            <nop-card asp-name="slider-properties" asp-icon="fa fa-bars" asp-title="@T("Nop.MySlider.Tab.Properties")" asp-hide-block-attribute-name="@hidePropertiesBlockAttributeName" asp-hide="@hidePropertiesBlock" asp-advanced="false">@await Html.PartialAsync("_CreateOrUpdate.Properties", Model)</nop-card>
            <nop-card asp-name="slider-items" asp-icon="fa fa-th-list" asp-title="@T("Nop.MySlider.Tab.SliderItems")" asp-hide-block-attribute-name="@hideItemsBlockAttributeName" asp-hide="@hideItemsBlock" asp-advanced="false">@await Html.PartialAsync("_CreateOrUpdate.SliderItems", Model)</nop-card>
        </nop-cards>
    </div>
</div>