﻿@model Nop.Plugin.Widgets.MySlider.Areas.Admin.Models.MySliderModel

@{
    //page title
    ViewBag.Title = T("Nop.MySlider.EditDetails").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("MySlider");
}

<form asp-controller="MySlider" asp-action="Edit" method="post" id="anywhere-slider-form">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Nop.MySlider.EditDetails")
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Nop.MySlider.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <button type="button" id="slider-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </button>
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="slider-delete" asp-action="Delete" />