﻿@model Nop.Plugin.Widgets.MySlider.Areas.Admin.Models.MySliderSearchModel
@{
    //page title
    ViewBag.Title = T("Nop.MySlider.SliderList").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("MySlider");
}

@{
    const string hideSearchBlockAttributeName = "SlidersPage.HideSearchBlock";
    var hideSearchBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideSearchBlockAttributeName);
}

<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Nop.MySlider.SliderList")
    </h1>
    <div class="pull-right">
        <a asp-action="Create" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="card card-default card-search">
                <div class="card-body">
                    <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                        <div class="search-text">@T("Admin.Common.Search")</div>
                        <div class="icon-search"><i class="fa fa-search" aria-hidden="true"></i></div>
                        <div class="icon-collapse"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
                    </div>

                    <div class="search-body @(hideSearchBlock ? "closed" : "")">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchActiveId" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="SearchActiveId" asp-items="Model.AvailableActiveOptions" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchCatalogPages" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="SearchCatalogPages" asp-items="Model.AvailableCatalogPages" asp-multiple="true" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchWidgetZones" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="SearchWidgetZones" asp-items="Model.AvailableWidgetZones" asp-multiple="true" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchStoreId" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="SearchStoreId" asp-items="Model.AvailableStores" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 offset-md-4">
                                <div class="form-group">
                                    <button type="button" id="search-slider" class="btn btn-primary btn-search">
                                        <i class="fa fa-search"></i>
                                        @T("Admin.Common.Search")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel card-default">
                <div class="card-body">
                    @await Html.PartialAsync("Table", new DataTablesModel
                    {
                        Name = "anywhere-slider-grid",
                        UrlRead = new DataUrl("List", "MySlider", null),
                        Length = Model.PageSize,
                        LengthMenu = Model.AvailablePageSizes,
                        SearchButtonId = "search-slider",
                        Filters = new List<FilterParameter>
                        {
                            new FilterParameter(nameof(Model.SearchStoreId)),
                            new FilterParameter(nameof(Model.SearchWidgetZones)),
                            new FilterParameter(nameof(Model.SearchCatalogPages)),
                            new FilterParameter(nameof(Model.SearchActiveId))
                        },
                        ColumnCollection = new List<ColumnProperty>
                        {
                            new ColumnProperty(nameof(MySliderModel.Name))
                            {
                                Title = T("Nop.MySlider.Sliders.Fields.Name").Text,
                                Width = "180"
                            },
                            new ColumnProperty(nameof(MySliderModel.WidgetZoneStr))
                            {
                                Title = T("Nop.MySlider.Sliders.Fields.WidgetZone").Text,
                                Width = "180"
                            },
                            new ColumnProperty(nameof(MySliderModel.CatalogPageStr))
                            {
                                Title = T("Nop.MySlider.Sliders.Fields.CatalogPage").Text,
                                Width = "180"
                            },
                            new ColumnProperty(nameof(MySliderModel.Active))
                            {
                                Title = T("Nop.MySlider.Sliders.Fields.Active").Text,
                                Width = "80",
                                ClassName = NopColumnClassDefaults.CenterAll,
                                Render = new RenderBoolean()
                            },
                            new ColumnProperty(nameof(MySliderModel.Id))
                            {
                                Title = T("Admin.Common.Edit").Text,
                                Width = "100",
                                ClassName = NopColumnClassDefaults.Button,
                                Render = new RenderButtonEdit(new DataUrl("~/Admin/MySlider/Edit/"))
                            }
                        }
                    })
                </div>
            </div>
        </div>
    </div>
</div>