@model Nop.Plugin.Widgets.MySlider.Areas.Admin.Models.MySliderItemModel

@{
    Layout = "_AdminPopupLayout";

    //page title
    ViewBag.Title = T("Nop.MySlider.SliderItems.EditDetails").Text;
}

<form asp-controller="MySlider" asp-action="SliderItemEditPopup"
      asp-route-btnId="@Context.Request.Query["btnId"]"
      asp-route-formId="@Context.Request.Query["formId"]">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Nop.MySlider.SliderItems.EditDetails")
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdateSliderItem", Model)
</form>